.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.row--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  padding: 0 0.9375rem;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8.33%;
          flex: 0 1 8.33%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.66%;
          flex: 0 1 16.66%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.66%;
          flex: 0 1 41.66%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58.33%;
          flex: 0 1 58.33%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.66%;
          flex: 0 1 66.66%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 83.33%;
          flex: 0 1 83.33%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 91.66%;
          flex: 0 1 91.66%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

@media (min-width: 540px) {
  .row--start-xs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--end-xs {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--center-xs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--between-xs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col-1-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%;
  }
  .col-2-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%;
  }
  .col-3-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .col-4-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
  }
  .col-5-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%;
  }
  .col-6-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .col-7-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%;
  }
  .col-8-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%;
  }
  .col-9-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .col-10-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%;
  }
  .col-11-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%;
  }
  .col-12-xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 768px) {
  .row--start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col-1-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%;
  }
  .col-2-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%;
  }
  .col-3-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .col-4-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
  }
  .col-5-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%;
  }
  .col-6-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .col-7-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%;
  }
  .col-8-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%;
  }
  .col-9-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .col-10-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%;
  }
  .col-11-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%;
  }
  .col-12-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 992px) {
  .row--start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col-1-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%;
  }
  .col-2-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%;
  }
  .col-3-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .col-4-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
  }
  .col-5-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%;
  }
  .col-6-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .col-7-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%;
  }
  .col-8-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%;
  }
  .col-9-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .col-10-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%;
  }
  .col-11-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%;
  }
  .col-12-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 1200px) {
  .row--start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col-1-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%;
  }
  .col-2-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%;
  }
  .col-3-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .col-4-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
  }
  .col-5-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%;
  }
  .col-6-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .col-7-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%;
  }
  .col-8-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%;
  }
  .col-9-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .col-10-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%;
  }
  .col-11-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%;
  }
  .col-12-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 1800px) {
  .row--start-xl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--end-xl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--center-xl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--between-xl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col-1-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33%;
            flex: 0 1 8.33%;
  }
  .col-2-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66%;
            flex: 0 1 16.66%;
  }
  .col-3-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .col-4-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
  }
  .col-5-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66%;
            flex: 0 1 41.66%;
  }
  .col-6-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .col-7-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33%;
            flex: 0 1 58.33%;
  }
  .col-8-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66%;
            flex: 0 1 66.66%;
  }
  .col-9-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .col-10-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33%;
            flex: 0 1 83.33%;
  }
  .col-11-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66%;
            flex: 0 1 91.66%;
  }
  .col-12-xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #727272;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  line-height: 1.6;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container-small {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.container-big {
  width: 100%;
  max-width: 112.5rem;
  margin: 0 auto;
}

.container-fullwidth {
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fa-chevron-down {
  font-size: 10px;
}

.button {
  height: 3.75rem;
  background: transparent;
  border: 2px solid #737373;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.25rem;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  color: #454647;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.button:hover, .button:focus {
  background: #00c8c8;
  border-color: #00c8c8;
  color: #fff;
}

.nav-col__title {
  color: #575153;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.nav-col__list {
  margin: 1.5rem 0;
}

.nav-col__list-item {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  color: #727272;
}

.nav-col__list-item > a {
  font-size: 0.875rem;
  text-decoration: none;
  color: #727272;
  white-space: nowrap;
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
}

.nav-col__list-item > a:hover {
  color: #00c8c8;
}

.banner {
  width: 100%;
  background: #333333;
}

.banner__link {
  min-height: 12.5rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-decoration: none;
}

.banner__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .banner__title {
    font-size: 2rem;
  }
}

.banner__title span {
  font-weight: 700;
}

.header {
  width: 100%;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.header__main {
  background: url("../../../../assets/slider.png") no-repeat center center;
  background-size: cover;
  height: 50vh;
  padding: 2rem 0;
  max-height: 60rem;
}

@media (min-width: 768px) {
  .header__main {
    background-size: auto 100%;
    height: 44vw;
  }
}

.header__logo {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.header__logo span {
  font-weight: 700;
}

@-webkit-keyframes submenuAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes submenuAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.header-nav__list {
  width: 100%;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

@media (min-width: 1200px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-nav__list-item {
  position: relative;
}

.header-nav__list-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8125rem;
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
}

.header-nav__list-item > a:hover {
  color: #00c8c8;
}

.header-nav__list-item > a:hover .header-nav__list-item-arrow {
  color: #00c8c8;
}

.header-nav__list-item .header-nav__list-item-arrow {
  margin-top: 0.25rem;
  color: #999999;
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
}

.header-subnav {
  display: none;
  position: absolute;
  padding-top: 1.25rem;
}

.header-subnav__wrapper {
  background: #f8f8f8;
  padding: 2rem;
  -webkit-box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.header-subnav--mens, .header-subnav--womens, .header-subnav--localstores {
  left: 0;
  min-width: 30rem;
}

.header-subnav--lookbook {
  min-width: 30rem;
  right: 0;
}

.header-subnav__banner {
  margin-top: 2rem;
}

.header-nav__list-item:hover > a,
.header-nav__list-item:hover .header-nav__list-item-arrow {
  color: #00c8c8;
}

.header-nav__list-item:hover .header-subnav {
  display: block;
}

.header-nav__list-item:hover .header-subnav__wrapper {
  -webkit-animation: submenuAnimation 500ms ease-in-out 1;
          animation: submenuAnimation 500ms ease-in-out 1;
}

.header-nav-mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1200px) {
  .header-nav-mobile {
    display: none;
  }
}

.btn-navmobile {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-navmobile-hamburger {
  position: relative;
}

.btn-navmobile-hamburger__line {
  display: block;
  width: 100%;
  height: 0.3rem;
  border-radius: 999px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  background: #222222;
}

.btn-navmobile-hamburger__line:first-of-type {
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 999px;
  display: block;
  top: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.btn-navmobile-hamburger__line:last-of-type {
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 999px;
  display: block;
  bottom: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.topbar {
  width: 100%;
  height: 3rem;
  background: #333333;
  font-size: 0.8125rem;
  color: #777777;
}

.topbar__row {
  height: 100%;
}

.topbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__currency {
  font-weight: 600;
  cursor: pointer;
}

.topbar__currency span {
  display: none;
}

@media (min-width: 768px) {
  .topbar__currency span {
    display: inline-block;
  }
}

.topbar__currency i {
  padding-left: 0.5rem;
}

.topbar a {
  color: #999999;
  font-weight: 600;
  text-decoration: none;
}

.topbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.topbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar-list__item {
  margin: 1rem;
}

.cart {
  height: 100%;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .cart {
    margin-left: 4rem;
  }
}

.cart__button {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  background: #00c8c8;
  padding: 0 1.5rem;
  color: #fff;
  cursor: pointer;
}

.cart .fa-shopping-cart {
  font-size: 1.2rem;
}

.cart__button-text {
  display: none;
  font-weight: 600;
}

@media (min-width: 768px) {
  .cart__button-text {
    display: block;
    margin: 0 0.5rem 0 1.5rem;
  }
}

.cart .fa-chevron-down {
  display: none;
}

@media (min-width: 768px) {
  .cart .fa-chevron-down {
    display: block;
  }
}

.header-searchbar {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1800px) {
  .header-searchbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-searchbar__wrapper {
  position: relative;
}

.header-searchbar__input {
  height: 2rem;
  width: 12rem;
  border: 1px solid #e7e7e7;
  padding: 0 3rem 0 1rem;
  outline: none;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.header-searchbar__input:focus {
  border-color: #222222;
}

.header-searchbar__button {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #999999;
}

.items {
  margin-bottom: 4rem;
}

.items hr {
  border-top: 1px solid #eeeeee;
}

.items__menu {
  height: 6rem;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .items__menu {
    height: 8rem;
  }
}

.items__grid {
  margin: -0.9375rem 0 3.0625rem 0;
}

.items__grid > :not(:first-of-type) .item--big {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (min-width: 1200px) {
  .items__grid > :not(:first-of-type) .item--big {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.items-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.items-menu-list__item {
  font-size: 0.8125rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.items-menu-list__item:not(:last-of-type) {
  margin-right: 3.5rem;
}

.items-menu-list__item:last-of-type {
  margin-right: 0.9375rem;
}

.items-menu-list__item > a {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  text-decoration: none;
  color: #727272;
}

.items-menu-list__item > a:hover {
  color: #00c8c8;
}

.item {
  line-height: 0;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

@media (min-width: 540px) {
  .item--pd-left {
    padding-left: 0.9375rem;
  }
}

@media (min-width: 540px) {
  .item--pd-right {
    padding-right: 0.9375rem;
  }
}

.item__wrapper {
  background: #f8f8f8;
  line-height: 0;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 250ms ease-in-out;
  transition: -webkit-box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
}

.item__wrapper:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
}

.item__wrapper:hover .item__more-imgs {
  opacity: 1;
}

.item__wrapper:hover .item__detail-link {
  opacity: 1;
}

.item__wrapper:hover .item__info {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.item__price {
  top: 1.5rem;
  left: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: #9a9a9a;
  position: absolute;
}

.item__more-imgs {
  top: 1rem;
  right: 1rem;
  position: absolute;
  opacity: 0;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.item__detail-link {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  left: 50%;
  top: 65%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 0px 2px 12.32px rgba(0, 0, 0, 0.14);
  opacity: 0;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.item__info {
  position: absolute;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100%;
  left: 0;
  line-height: 1.5;
  background: #fff;
  text-align: center;
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, box-shadow 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, box-shadow 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  transform-origin: top;
  z-index: 3;
}

.item__title {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 600;
  color: #727272;
}

.item__desc {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 1rem 0;
  color: #8e8c8c;
}

.item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__button-card {
  width: 2rem;
  height: 2rem;
  background: #727272;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  color: #fff;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.item__button-card:hover {
  background: #00c8c8;
}

.lookbook {
  margin-bottom: 8rem;
}

.lookbook__col--mens {
  padding: 0.9375rem;
}

@media (min-width: 1200px) {
  .lookbook__col--mens {
    padding: 0 0.9375rem 0 0;
  }
}

.lookbook__col--womens {
  padding: 0.9375rem;
}

@media (min-width: 1200px) {
  .lookbook__col--womens {
    padding: 0 0.9375rem;
  }
}

.lookbook__col--your {
  padding: 0.9375rem;
}

@media (min-width: 1200px) {
  .lookbook__col--your {
    padding: 0 0 0 0.9375rem;
  }
}

.lookbook-card {
  background: #f8f8f8;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 34rem;
}

.lookbook-card__right {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 52%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lookbook-card__title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
}

.lookbook-card__title span {
  font-weight: bold;
}

.lookbook-card__text {
  margin: 2rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
}

.footer {
  background: #f8f8f8;
}

.footer__main {
  padding: 3.75rem 0;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__menu-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0 0.9375rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer__menu-col {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }
}

@media (min-width: 1200px) {
  .footer__menu-col {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.footer__social {
  width: 100%;
  min-height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00c8c8;
  color: #fff;
  margin-top: 1.875rem;
}

@media (min-width: 768px) {
  .footer__social {
    margin-top: 0;
  }
}

.footer__social a {
  color: #fff;
  text-decoration: none;
  margin: 0 1.25rem;
  font-size: 1.75rem;
}

@media (min-width: 1200px) {
  .footer__social a {
    margin: 0 2rem;
    font-size: 2.25rem;
  }
}

.bottombar {
  background: #333333;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .bottombar {
    padding-top: 0;
    padding-bottom: 0;
    height: 3rem;
  }
}

.bottombar__row {
  height: 100%;
}

.bottombar__col {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .bottombar__col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bottombar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #777777;
}

@media (min-width: 768px) {
  .bottombar__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

.bottombar__right span:not(:last-of-type) {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .bottombar__right span:not(:last-of-type) {
    margin-right: 2.25rem;
  }
}

.bottombar__right a {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */