.footer {
  background: $colorLight;

  &__main {
    padding: 3.75rem 0;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
  }

  &__menu-col {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 0 0.9375rem;
    margin-bottom: 2rem;

    @media (min-width: $sm) {
      flex-basis: 33.333%;
    }

    @media (min-width: $lg) {
      flex-basis: 20%;
    }
  }

  &__social {
    width: 100%;
    min-height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorPrimary;
    color: #fff;
    margin-top: 1.875rem;

    @media (min-width: $sm) {
      margin-top: 0;
    }

    & a {
      color: #fff;
      text-decoration: none;
      margin: 0 1.25rem;
      font-size: 1.75rem;

      @media (min-width: $lg) {
        margin: 0 2rem;
        font-size: 2.25rem;
      }
    }
  }
}

@import "./bottombar";
